<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./bootstrap-4.3.1-dist/css/bootstrap.css">
  <link href="./fontawesome-free-5.13.0-web/fontawesome-free-5.13.0-web/css/all.css">
</head>

<body>

<i class="fas fa-user"></i>

<div id="app"  class="container">
       <div>
                 <div style="display: inline-flex; margin-right: 10%;">
                       <label class="font-weight-bold mr-4">max</label>
                         <input type="text" v-model="maximum" class="form-control w-3"
                         style="width: 100px; text-align: center; ">
                  </div>

    <div style="display: inline-flex;" v-if="cart>0">

    <label type="text" class="font-weight-bold mr-4">cart</label>
         <input type="text" class="form-control w-2" v-model="cart"
         style="width: 100px; text-align: center;">
  

   </div>


 <input type="range" min="0" max="12000"  class="custom-range" v-model="maximum">


 
   <div class="d-flex mr-auto mt-5" v-for="item in products"  >
             <div v-if="Number(maximum)>=item.price">

                  <label class="font-weight-bold mr-10">{{ item.name }}</label><br>
                  <button class="btn btn-info mr-25" @click="additem(item.id)">+</button>
                  <img :src="item.image" class="w-25">
                   <p>{{item.description}}</p><br>
                   <label class="font-weight-bold mr-4">${{ item.price }}</label>

     </div> 
   </div>
 </div>
 </div>






<script src="./bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>

<script src="vue.js"></script>



</body>

<script>
  var data = {
    maximum : 100,
    cart : null,
    base: [],
    products: [
      {
        "id": "532",
        "price": "24",
        "name": "baitul Muqadas",
        "image": "./images/baitul muqadas.jpg",
"description" : "b4-form-radio-custom	Form radio customb4-form-radio-inlinForm radio inlineb4-form-radio-nolabelForm radio nolabel"

      },
      {
        "id": "533",
        "price": "100",
        "name": "camel",
        "image": "./images/camel.jpg",
"description" : "b4-form-radio-custom	Form radio customb4-form-radio-inlinForm radio inlineb4-form-radio-nolabelForm radio nolabel"

      },

      {
        "id": "534",
        "price": "199",
        "name": "coding",
        "image": "./images/coding.jpg",
"description" : "b4-form-radio-custom	Form radio customb4-form-radio-inlinForm radio inlineb4-form-radio-nolabelForm radio nolabel"

      },
      {
        "id": "535",
        "price": "95",
        "name": "dubai",
        "image": "./images/dubai.jpg",
"description" : "b4-form-radio-custom	Form radio customb4-form-radio-inlinForm radio inlineb4-form-radio-nolabelForm radio nolabel"

      },
      {
        "id": "536",
        "price": "50",
        "name": "fog",
        "image": "./images/fog.jpg",
"description" : "b4-form-radio-custom	Form radio customb4-form-radio-inlinForm radio inlineb4-form-radio-nolabelForm radio nolabel"

      },
      {
        "id": "537",
        "price": "34",
        "name": "green mountains",
        "image": "./images/green mountains.jpg",
"description" : "b4-form-radio-custom	Form radio customb4-form-radio-inlinForm radio inlineb4-form-radio-nolabelForm radio nolabel"

      },
      {
        "id": "538",
        "price": "350",
        "name": "landscape",
        "image": "./images/landscape.jpg",
"description" : "b4-form-radio-custom	Form radio customb4-form-radio-inlinForm radio inlineb4-form-radio-nolabelForm radio nolabel"

      },
      {
        "id": "539",
        "price": "2500",
        "name": "mountains",
        "image": "./images/mountains.jpg",
"description" : "b4-form-radio-custom	Form radio customb4-form-radio-inlinForm radio inlineb4-form-radio-nolabelForm radio nolabel"

      },
      {
        "id": "540",
        "price": "5000",
        "name": "pot",
        "image": "./images/pot.jpg",
"description" : "b4-form-radio-custom	Form radio customb4-form-radio-inlinForm radio inlineb4-form-radio-nolabelForm radio nolabel"

      },
      {
        "id": "531",
        "price": "10000",
        "name": "redmoon",
        "image": "./images/redmoon.jpg",
"description" : "b4-form-radio-custom	Form radio customb4-form-radio-inlinForm radio inlineb4-form-radio-nolabelForm radio nolabel"

      }



    ]

  }

  var app = new Vue({
    el: '#app',
    data: data,
    methods : {
       
    additem : function(a){
      console.log("hi")
       if(this.check(a)){
      this.cart = this.cart + 1;
      this.base.push(a);
       }
       else{

 alert("YOU HAVE ALEARDY ADDED THIS TO YOUR YOUR ITEM");

       }
    },
    check : function(f){
       for (i in this.products){
         if(f == this.base[i]){

            return 0

         }

       }
       return 1

    }


    }
  })
</script>

</html>