<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
 

</head>

<body style="background-color:chocolate ;">
 

<div id = "app" >
 <div>

    <select @change="change($event)">
      <option  value="draft">draft</option>
      <option  value="deactivated">deactivated</option>
      <option  value="published">published</option>
    </select>
    <input @change="changedate($event)" type="date" value="2020-07-24" min="1990-07-10" max="2050=07-1">
 </div>
  <h2>{{status}}</h2>
  <div v-for="elements in info"
  v-if="compare(elements)"

  style="width: 20%; align-items: center;
   margin-left: 20%;
   margin-top: 10%;">

    <label>{{elements._id}}</label>
    <h2>{{elements.status}}</h2>
    <h3>{{elements.date.slice(0,10)}}</h3>
  </div>
</div>


<script src="vue.js"></script>
</body>

<script>
 
  var app = new Vue({
    el: '#app',
    data: {
      name: "tufail",
      info : null,
      fill: null,
      status : "draft",
      value : null,
      date : '1990-08-1'
    },
    mounted : function ( ){
    fetch('https://my-json-server.typicode.com/orzel-bielik/test/posts')
    .then(response => response.json()
    .then(data => {
        this.info = data
    } ))
},
//for filteration of given api's
methods: {
  compare : function(ele){
    console.log(ele.date.slice(0,10))
    if (ele.status == this.status 
    && ele.date.slice(0,10) > this.date){
     
return true
    }
    else {
      false
    }
  },
  //geting value from dropdown and changing the value of compared variable
  change(event){
   this.status = event.target.value
  },
  changedate(event){
    this.date = event.target.value
  }
}
    })
  
</script>

</html>