<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task</title>
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body id="app">
    <div class="navBar">
      <div class="topIcons">
        <div class="icon">
          <img src="./images/home.png" alt="Logo" />
        </div>
        <div class="icon">
          <img src="./images/home.png" alt="Logo" />
        </div>
        <div class="icon">
          <img src="./images/calendar.png" alt="Logo" />
        </div>
        <div class="icon">
          <img src="./images/setting.png" alt="Logo" />
        </div>
      </div>
      <div class="bottomIcon">
        <div class="icon">
          <img src="./images/undo.png" alt="Logo" />
        </div>
      </div>
    </div>
    <div class="mainContent">
      <div class="topHeader">
        <div class="searchSection">
          <input type="text" class="searchInput" placeholder="Search" />
        </div>
        <div class="otherSection">
          <div class="notification">
            <img src="./images/bell.png" alt="notification" />
          </div>
          <div class="lang">
            <img src="./images/translate.png" alt="notification" />
          </div>
          <div class="user">
            <div class="userName">
              <p>Tufail Mir</p>
              <p>@tufail</p>
            </div>
            <div class="userImage">
              <img src="./images/profile.png" alt="user Avatar" />
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="column1">
          <div class="hiJhon">
            <div>
              <h3>Hi Tufail Mir</h3>
              <p>
                Welcome back Tufail MIr, we are glad that you are here to
                inspire the best work in people and enabling them to acheive
                their goals.
              </p>
              <button class="primary">View Details</button>
            </div>
            <img
              class="heroImage"
              src="./images/maindivv.png"
              alt="someIamge"
            />
          </div>
          <div class="blogSection">
            <div class="blogsHeader">
              <p class="trending">Trending Blogs</p>
              <p class="viewAll">View All</p>
            </div>
            <div class="blogs">
              <div class="blog">
                <p class="blogHeading">Prototyping</p>
                <p class="blogBody">
                  A prototype is an early sample,model or release of a product
                  built to test a very few lines of code
                </p>
                <div class="blogFooter">
                  <div class="blogImages">
                    <img src="./images/blogp.jpg" alt="avatar" />
                    <img src="./images/blogp1.jpg" alt="avatar" />
                    <img src="./images/blogp6.jpg" alt="avatar" />
                    <img src="./images/blogp3.jpg" alt="avatar" />
                    <img src="./images/blogp5.jpg" alt="avatar" />
                  </div>
                  <div class="likes">
                    <img
                      src="./images/clapss.png"
                      alt="claps"
                      width="15px"
                      height="15px"
                    />
                    <p>1.5k</p>
                  </div>
                </div>
              </div>
              <div class="blog">
                <p class="blogHeading">Typography</p>
                <p class="blogBody">
                  in the essence, typography is the art of arranging letters and
                  test in away that it is a very least
                </p>
                <div class="blogFooter">
                  <div class="blogImages">
                    <img src="./images/blogp.jpg" alt="avatar" />
                    <img src="./images/blogp1.jpg" alt="avatar" />
                    <img src="./images/blogp6.jpg" alt="avatar" />
                    <img src="./images/blogp3.jpg" alt="avatar" />
                    <img src="./images/blogp5.jpg" alt="avatar" />
                  </div>
                  <div class="likes">
                    <img
                      src="./images/clapss.png"
                      alt="claps"
                      width="15px"
                      height="15px"
                    />
                    <p>1.5k</p>
                  </div>
                </div>
              </div>
              <div class="blog">
                <p class="blogHeading">Color Palatte</p>
                <p class="blogBody">
                  The best way to use a scheme like this is to use one color as
                  the primary way of gaming
                </p>
                <div class="blogFooter">
                  <div class="blogImages">
                    <img src="./images/blogp.jpg" alt="avatar" />
                    <img src="./images/blogp1.jpg" alt="avatar" />
                    <img src="./images/blogp6.jpg" alt="avatar" />
                    <img src="./images/blogp3.jpg" alt="avatar" />
                    <img src="./images/blogp5.jpg" alt="avatar" />
                  </div>
                  <div class="likes">
                    <img
                      src="./images/clapss.png"
                      alt="claps"
                      width="15px"
                      height="15px"
                    />
                    <p>1.5k</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="data-set"></div>
        </div>
        <div class="column2">
          <div class="upperSection">
            <div class="upperSectiondDiv">
              <div class="leftSection">
                <img src="./images/book1.png" alt="" />
                <div class="details">
                  <p class="detailHeading">Articles Posted</p>
                  <p class="detailValue">80</p>
                </div>
              </div>
              <div class="rightSection">
                <img src="./images/arrow.png" alt="" />
              </div>
            </div>
            <div class="upperSectiondDiv">
              <div class="leftSection">
                <img src="./images/hands.png" alt="" />
                <div class="details">
                  <p class="detailHeading">Clops This Week</p>
                  <p class="detailValue">80</p>
                </div>
              </div>
              <div class="rightSection">
                <img src="./images/arrow.png" alt="" />
              </div>
            </div>
            <div class="upperSectiondDiv">
              <div class="leftSection">
                <img src="./images/people.png" alt="" />
                <div class="details">
                  <p class="detailHeading">New Features This Week</p>
                  <p class="detailValue">80</p>
                </div>
              </div>
              <div class="rightSection">
                <img src="./images/arrow.png" alt="" />
              </div>
            </div>
          </div>
          <div class="followerSection">
            <div class="blogsHeader">
              <p class="trending">Followers</p>
              <p class="viewAll">View All</p>
            </div>
            <div class="followerImages">
                <img src="./images/blogp0.jpg" alt="avatar" />
                <img src="./images/blogp1.jpg" alt="avatar" />
                <img src="./images/blogp6.jpg" alt="avatar" />
                <img src="./images/blogp.jpg" alt="avatar" />
            </div>
          <div class="purchaseSection"></div>
        </div>
      </div>
    </div>

        
        
        
        
        
        
        
        
        
        
        
        
        <div class="container">
        <div id="appp">
            <div >

                <select @change="change($event)">
                    <option value="all">All</option>
                    <option value="draft">draft</option>
                    <option value="deactivated">deactivated</option>
                    <option value="published">published</option>


                </select>
                <input @change="changedate($event)" type="date" value="2020-07-24" min="1990-07-10" max="2050=07-1">
            </div>
            <div v-for="elements in info" v-if="compare(elements)"
             style="width: 20%; align-items: center;
                       margin-left: 20%;">
                      
                        <table class="tb">
                            <tr>
                                <th>date</th>
                                <th>posts</th>
                                <th>status</th>
                            </tr>
                            <tr>
                                <td>{{elements.date.slice(0,10)}}</td>
                                <td>{{elements._id}}</td>
                                <td>{{elements.status}}</td>
                            </tr>
        
                        </table>
        
                     
               
            </div>
        </div>
    </div>

        <script src="vue.js"></script>
    </body>

    <script>

        var app = new Vue({
            el: '#appp',
            data: {
                    name: "tufail",
                    info: null,
                    status: "all",
                    date: '1990-08-1',
                    flag : null
                },
            mounted: function () {
                    try {
                    
                        fetch('https://my-json-server.typicode.com/orzel-bielik/test/posts')
                        .then(response => response.json().then(data => {
                            this.info = data
                        })).catch(function(){ //for network error
                            console.log("data cannot be fetched as the user seems to have network issue");
                        })
                        
                    } catch(e) {
                        console.log("code problem",e);
                        
                        }},
                // for filteration of given api's
                methods : {
                    compare: function (ele) {
                        if (this.status == 'all') {
                            return true
                        } else {
                            if (ele.status == this.status && ele.date.slice(0, 10) > this.date) {

                                return true
                            } else {
                                false
                            }
                        }
                    },
                    // geting value from dropdown and changing the value of compared variable
                    change(event) {
                        this.status = event.target.value
                    },
                    // render date variable in the dom
                    changedate(event) {
                        this.date = event.target.value
                    }
                }
            }
        )</script>

    </html>
    
</html>
